<nav>
  <ul>  
    <li>
      <a class="has-submenu" 
         (click)="$event.stopPropagation();toggleSubmenu('inventario')" 
         [class.active]="activeSubmenu === 'inventario'">
        Gestión de Inventario
      </a>
      <ul class="submenu" [ngClass]="{'active': activeSubmenu === 'inventario'}">
        <li>
          <a [routerLink]="['/inventario/productos']" routerLinkActive="active">Productos</a>
        </li>
        <li>
          <a [routerLink]="['/inventario/ubicaciones']" routerLinkActive="active">Ubicaciones</a>
        </li>

        <li>
          <a [routerLink]="['/inventario/reportes']" routerLinkActive="active">Reportes</a>
        </li>

         <li>
          <a [routerLink]="['/inventario/ajuste']" routerLinkActive="active">Ajuste de inventario</a>
        </li>
      </ul>
     
  </ul>
</nav>


