/* src/app/products/filters-sidebar/filters-sidebar.component.scss */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$primary-color: #007bff;
$hover-color: #e6f7ff;
$active-border-color: #007bff;
$text-color-dark: #333;
$text-color-light: #555;
$bg-primary: #f0f2f5;
$bg-white: #ffffff;
$border-color: #e0e0e0;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

// Variables de Layout
$banner-height: 77px; 
$sidebar-width: 250px;
$sidebar-bg: #27AE60; // Nuevo color de la barra lateral
$sidebar-hover: #1E8449; // Nuevo color de hover
$sidebar-text: #ecf0f1;
$active-link-bg: #1E8449;
$active-link-text: #ffffff;


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $bg-primary;
  color: $text-color-dark;
  overflow-x: hidden;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 800; 
    font-size: 1.8rem; 
    color:$sidebar-bg;
}

.filters-sidebar-container {
  width: 300px; // Ancho del sidebar
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eee;
  h2 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.filter-section {
  padding: 16px;
  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: 500;
    color: #555;
  }
  mat-checkbox {
    display: block; // Para que cada checkbox esté en su propia línea
    margin-bottom: 8px;
  }
}

mat-divider {
  margin: 0 16px; // Espacio para la línea divisoria
}

.filters-actions {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-top: 1px solid #eee;
  margin-top: auto; 
}