<div class="login-container">
  <div class="login-card">
    <div class="logo">
      <img src="assets/images/FORMULARIOS.png" alt="Logotipo del Supermercado">
    </div>
    <h2>Restablecer contraseña</h2>
    <p>Introduce tu correo electrónico y te enviaremos instrucciones.</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email" placeholder="Correo electrónico" formControlName="email" />
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-message-inline">
          Ingresa un correo válido.
        </div>
      </div>

      <button type="submit" [disabled]="!form.valid">Enviar enlace</button>
    </form>

    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</div>
